.front-page-content {
    display: grid;
    grid-template-columns: .5fr 4fr .5fr;
    grid-template-rows: repeat(4, 0.5fr);
    font-size: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    grid-gap: 3rem;
}

.popular_products {
    grid-column: 2;
    grid-row: 2;
}

.popular_products h2 {
    padding: 2rem 0;
    color: #222222;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.slider {
    grid-column: 2;
    grid-row: 1;


}

.deal-of-the-weak {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    background-color: rgb(241, 246, 250);
}

.deal-of-the-weak-text-content {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.deal-of-the-weak-text-content h2 {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 3rem;
}

.deal-of-the-weak-product-img li {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-top: 3rem !important;
}


.blog {
    grid-column: 2;
    grid-row: 4;
}